
.wrap{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.title{
    width: 100%;
    text-align: center;
    padding: 50px 0 50px 0;
    color: #fff;
    font-weight: 600;
    font-size: 30px;
}

.input__wrapper{
    width: 100%;
    max-width: 700px;
    min-width: 375px;
    height: 150px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#ucid__nickname{
    margin-bottom: 20px;
}

.input__nickname{
    width: 400px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #444444;
    margin-right: 10px;
}


#result{
    width: 700px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
}

.result__item__wrapper{
    border: 0;
    border-radius: 5px;
    padding: 15px;
    text-align: center;
    width: calc((100%/2) - 40px);
    margin-top: 8px;
    cursor: pointer;
}

.result__maplegg__icon{
    margin-bottom: 15px;
}

.result__nickname{
    padding: 5px;
    font-size: 20px;
    font-weight: bold;

}

.result__world{
    padding: 5px;
    font-size: 16px;
    font-weight: 600;
}

.result__unionlv{
    padding: 5px;
    font-size: 22px;
    font-weight: 700;
}

@media (max-width:690px) {
    .result__item__wrapper{
        width: calc(100% - 340px);
    }
}
